body {
  background-color: lavender
}

.my-work {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 75px;
}

.contactme {
  text-align: left;
}

.mywork {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
}

.contactmebar{
  float: left;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 250px;
  background-color: rgb(153, 204, 255);
}

.h4contact {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-display: bold;
}

.photo {
    padding: 20px 0;
    border: 3px rgb(153, 204, 255);
    text-align: center;
}

body {
background-image: url(https://images.unsplash.com/photo-1566410864800-87d35084f611?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
}

.dem {
  float: right;
  margin: 10px;
  padding: 6px;
  width: 250px;
  background-color: rgba(170, 209, 248, 0.788);
}

.thisproj {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}